.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  min-width: 246px;
}

.card__image {
  background: #b8b8b8;
  display: flex;
  padding: 10px 10px 0;
  justify-content: center;
  align-items: start;
  height: 180px;
}

.card__image img {
  width: 100%;
  border-radius: 8px;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--black);
  color: var(--white);
  padding: 10px;
}

.card__tag {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}

.card__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 8px;
  height: 35px;
}

.card__year {
  font-size: 12px;
  margin-bottom: 10px;
}

.card__footer {
  margin-top: auto;
  display: flex;
}

.button_add {
  display: inline-flex;
  background: none;
  border-radius: 6px;
  border: 1px solid #fafafa;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button__active {
  background: #fafafa;
}
