.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 400;
}

.menu__item:visited {
  color: var(--black);
}

.menu__counter {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  border: 1px solid var(--black);
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
}
